[Unit]
Description=Puma HTTP Server
After=network.target mongod.service

[Service]
Type=simple
User=appuser
WorkingDirectory=/home/appuser/reddit
ExecStart=/home/appuser/reddit/puma -b tcp://0.0.0.0:9292
ExecStop=/home/appuser/reddit/pumactl -S
Restart=always

[Install]
WantedBy=multi-user.target
