project = "infra-219521"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
disk_image = "reddit-base"
count_instances = "1"
app_instance_name = "reddit-app-stage"
db_instance_name = "reddit-db-stage"
firewall_ssh_name = "allow-ssh-stage"
instance_name_ip = "reddit-app-ip-stage"
db_internal_ip = "${module.db.db_internal_ip}"
